.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .next-button {
    width: 70px;
    height: 70px;
    background-color: #1f1d1d;
    color: white;
    font-size: 1.3rem; /* Adjust the font size as needed */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .button-container {
    width: 70px;
    height: 200px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: table-column;
    margin: auto;
    margin-right: 20px;
  }