/* NavStyle.css */

.navbar {
  background-color: red;
  color: white;
  padding: 20px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.search-button {
  background-color: #1f1d1d;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  color: white;
  font-family: "Arial", sans-serif;
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  /* Add a width property to make the input wider */
  width: 200px; /* Adjust the width value as needed */
}

.nav-button {
  background-color: #1f1d1d;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  color: white;
  font-family: "Arial", sans-serif;
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}


  

.center h1 {
  font-size: 3rem; /* Adjust the font size as needed */
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
}

/* NavStyle.css */

/* ... other styles ... */

.modal {
  font-family: "Arial", sans-serif;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.6em;
  border-radius: 10px;
  background-color: #1f1d1d;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  font-size: 1.4em;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.modal-content p {
  margin: 0.5rem; /* Reset the margin on the paragraph */
}

.center {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10.2rem; /* Adjust this value */
  }
  
  .center-shift {
    margin-right: 3.3em; /* Override the default margin when the popup is open */
  }
  
  

/* ... (your other styles) */
