/* PokemonStyle.css */
.pokemon-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px;
  border: 1px solid #1f1d1d;
  border-radius: 10px;
  background-color: #1f1d1d;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: center;
  min-height: 75vh; /* Set maximum height to viewport height */
  min-width: 150vh;
  color: white;
}

.pokemon-section img {
  justify-content: center;
  max-width: 150px;
  height: auto;
  margin-top: 20px; /* Add top margin to the image */
  align-items: left;
  margin-left: 3em;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.pokemon-info {
  display: flex;
  align-items: flex-start; /* Align contents to start from the left */
  text-align: left; /* Align text content to the left */
}

.pokemon-header {
  display: flex;
  justify-content: center; /* Start horizontally */
  flex-direction: column; /* Stack items vertically */
  margin-bottom: 10px;
  text-align: left; /* Align text content to the left */
}

.pokemon-header h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.pokemon-section-left img {
  justify-content: center;
  max-width: 150px;
  height: auto;
  margin-top: 20px; /* Add top margin to the image */
  align-items: left;
  margin-left: 5em;
}

.pokemon-section {
  margin-right: 20px;
  margin-left: 20px;
}

.pokemon-section h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.pokemon-section p {
  margin: 10px 0;
  font-size: 18px;
}

.ShinyHeader {
  text-align: center;
}

.pokemon-section-stats {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.pokemon-section-stats h3 {
  margin-bottom: 0.5em;
}
.pokemon-section-stats p {
  font-size: 18px;
  margin: 5px 0; /* Adjust margin between stats */
}

.summary-section {
  max-width: 250px; /* Adjust this value as needed */
}

.summary-content {

  font-size: 14px !important;
}

/* You can add more styles as needed */

/* Add more styling rules as needed */
